.modalAddWorks {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 500px;
  min-width: 300px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  width: 40%;
  height: 75%;
  .arrow-left {
    position: absolute;
    top: 30px;
    left: 15px;
    .fa-arrow-left {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
  .xmark {
    position: absolute;
    top: 30px;
    right: 15px;
    .fa-xmark {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
  h3 {
    margin-top: 60px;
    font-weight: bold;
    font-size: 1.5rem;
  }
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    width: 80%;
    gap: 20px;
    .containerAddPhoto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 30%;
      background-color: #e8f1f6;
      gap: 10px;
      .fa-image {
        font-size: 4rem;
        color: #b9c5cc;
      }
      .labelFile {
        display: block;
        display: flex;
        align-items: center;
        background-color: #b9c5cc;
        border-radius: 15px;
        height: 30px;
        padding: 0 20px;
        color: #306685;
        cursor: pointer;
      }
      input {
        display: none;
      }
    }
    #title {
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
      height: 8%;
    }
    #categoryInput {
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
      height: 8%;
    }
    .container-button-add-work {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 100%;
      border-top: 1px solid gray;
      .button-add-work {
        background-color: #a7a7a7;
        padding: 9px 50px;
        border-radius: 25px;
        color: white;
        font-weight: 700;
        font-size: 1rem;
        font-family: Syne;
        cursor: pointer;
        &:hover {
          background-color: white;
          border: 1px solid #1d6154;
          color: #1d6154;
        }
      }
    }
  }
}
